:root{
  width: 100%;
  margin-top: 30%;
}
body{
  margin: 0px;
}
#name {
  font-family: "Nanum Gothic Coding", monospace;
  text-align: center;
  font-size: 150%;
}
#smd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
#icn_li, #icn_grup{
  display: block;
  margin: 0px auto;
  width: 85%;
  height: auto;
  border-radius: 24px;
}
#pl{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#lb{
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.l {
  height: 6px;
  width: 60px;
  --c:no-repeat repeating-linear-gradient(90deg,#000 0 3px,#0000 0 6px);
  background: var(--c), var(--c);
  background-size: 100% 3px;
  animation: l9 1s infinite;
  
}
@keyframes l9 {
  0%,
  70%,
  100%   {background-position: 0   50%,3px 50% }
  23.33% {background-position: 0   0  ,3px 100%}
  46.67% {background-position: 3px 0  ,0   100%}
  69.99% {background-position: 3px 50%,0   50% }
}
